{{> head}}
{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>Capitan America</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde obcaecati maiores, aspernatur, error exercitationem porro quia laborum earum sed similique itaque voluptates dolorum commodi, voluptatem perspiciatis. Quam recusandae ad distinctio.</p>
    </div>

    <div class="col-4">
        <img src="assets/img/capitan-america.png" class="img-thumbnail">
    </div>

</div>

{{> footer}}